.App {
  text-align: center;
}

h1{
color: #DAB785;
font-size: 64px;
}

h2{
  color: #CDD6D0;
  font-style: italic;
}

h4{
  color: #DAB785;
font-size: 18px;
margin-top: 10px;
}

.Layout{
display: flex;
justify-content: center;
align-items: center;
width: 600px;
height: 200px;
top: 200px;
background: rgba(4, 57, 94, 0.5);
text-align:center;
font-size: 18px;
color: #CDD6D0;
}

.Animation{
  animation: pulse 2s infinite;
  margin-top: 40px;
  border-radius: 20px;
  background: #DAB785;
  color:#04395E;
  font-weight: bold;
  height: 50px;
  width: 100px;
}
@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
} 

.Affirmation{
display: flex;
justify-content: center;
align-items: center;
height: 100px;
}

.Logo{
display: flex;
/* justify-content:flex-start;
align-items:center; */
margin-left: 0px;
padding-left: 1px;
}

.Quote{
  max-width: 700px;
}